<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faith.ctv.ytb">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="@string/youtube_api_demo">

        <activity
            android:name=".YouTubeAPIDemoActivity"
            android:label="@string/youtube_api_demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="false" />
        </activity>

        <activity
            android:name=".VideoWallDemoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/videowall_demo_name"
            android:screenOrientation="landscape"
            android:theme="@style/BlackNoBarsTheme">
            <meta-data
                android:name="@string/minVersion"
                android:value="11" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />
        </activity>

        <activity
            android:name=".VideoListDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/videolist_demo_name">
            <meta-data
                android:name="@string/minVersion"
                android:value="13" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />
        </activity>

        <activity
            android:name=".VideoListDemo2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/videolist_demo_name_2">
            <meta-data
                android:name="@string/minVersion"
                android:value="13" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />
        </activity>

        <activity
            android:name=".PlayerViewDemoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/playerview_demo_name"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="@string/minVersion"
                android:value="8" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />
        </activity>

        <activity
            android:name=".FragmentDemoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/fragment_demo_name"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="@string/minVersion"
                android:value="11" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />
        </activity>

        <activity
            android:name=".PlayerControlsDemoActivity"
            android:label="@string/player_controls_demo_name"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="@string/minVersion"
                android:value="8" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />
        </activity>

        <activity
            android:name=".FullscreenDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/fullscreen_demo_name"
            android:screenOrientation="sensor"
            android:theme="@style/BlackNoTitleBarTheme">
            <meta-data
                android:name="@string/minVersion"
                android:value="8" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />
        </activity>

        <activity
            android:name=".VideoDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/video_detail_name"
            android:screenOrientation="portrait"
            android:theme="@style/BlackNoTitleBarTheme">
            <meta-data
                android:name="@string/minVersion"
                android:value="8" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />
        </activity>

        <activity
            android:name=".ActionBarDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_bar_demo_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/OverlayActionBarTheme">
            <meta-data
                android:name="@string/minVersion"
                android:value="11" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />
        </activity>

        <activity
            android:name=".StandalonePlayerDemoActivity"
            android:label="@string/standalone_player_demo_name">
            <meta-data
                android:name="@string/minVersion"
                android:value="8" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />
        </activity>

        <activity
            android:name=".IntentsDemoActivity"
            android:label="@string/intents_demo_name">
            <meta-data
                android:name="@string/minVersion"
                android:value="8" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />
        </activity>

    </application>

</manifest>